[submodule "libs/stable-diffusion.cpp"]
	path = libs/stable-diffusion.cpp
	url = https://github.com/leejet/stable-diffusion.cpp
[submodule "libs/llama.cpp"]
	path = libs/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "libs/ixwebsocket"]
	path = libs/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket
[submodule "libs/SQLiteCpp"]
	path = libs/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
